/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, tt, var, u, center,
ul.me, ol.me,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
	line-height: 1;
	background:url('../img/bg_grid.png?v=1') repeat;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
	width: 100%;
	height: 100%;
}

a:link {
	text-decoration: underline; 
	color: #0069A9;
}

a:active {
	text-decoration: underline; 
	color: #0069A9;
}

a:visited {
	text-decoration: underline; 
	color: #0069A9;
}

a:hover {
	text-decoration: none; 
	color: #000000;
}

hr {
	color: #CCCCCC;
	height: 1px;
	margin: 5px 0px 0px 0px;
}

.wrapper {
	width: 1000px;
	margin: 0 auto;
	height: auto !important;
background: white;
}

ol.me, ul.me {
	list-style: none;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	height: auto;
	background: white;
}

/* Head Navigation
-----------------------------------------------------------------------------*/
.headNav  {
	width: 1000px;
	text-align: center;
	line-height: 20px;
	padding: 10px 0px 15px 15px;
	margin-left: 200px;
}

.headNav a, .headNav div {
	display: block;
	float: left;
	padding: 0px 30px 11px 40px;
	margin: 0px;
	font-weight: bold;
	font-size: 12px;
	color: #97C82;
}

.headNav div {
 height: 22px;
}

.headNav a:hover {
 color: Black;
 text-decoration: underline;
}

/* Logo
-----------------------------------------------------------------------------*/
.logo {
width: 790px;
height: 380px;
background: url(../img/logo.png);
background-size: 790px 380px;
margin: 15px auto 10px;
}

/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	padding: 0 0 100px;
	position: relative;
background: white;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;	
}
.content {
	padding: 0 10px 0 270px;
	background: white;
}
#content {
	padding: 0 5px 0 5px;
	background: white;
}

/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
	float: left;
	width: 250px;
	margin-left: -99.1%;
	position: relative;
	background: #fff;
	text-align: center;
}

/* MenuBox
-----------------------------------------------------------------------------*/
.boxTitle {
	padding: 7px 0px 7px 0px;
	background-color: #77BBEE;
	color: #FFFFFF;
	font-size: 16px; 
	font-weight: bold; 
	margin: 0px;
	text-align: center;
}

/* Main Menu */
.m {
	font-weight: bold;
}

a.m:link {
	text-decoration: none; 
	color: #4F98BC;
}

a.m:active {
	text-decoration:none; 
	color: #4F98BC;
}

a.m:visited {
	text-decoration: none; 
	color: #4F98BC;
}

a.m:hover {
	background: #cee8f7;
	border-right: 0px solid #cdcdcd;
	border-left: 0px solid #cdcdcd;
	padding: 5px 0px 5px 0px;
}

a.ma:link {
	text-decoration:none; 
	color:#79BD11;
}

a.ma:visited {
	text-decoration:none; 
	color:#79BD11;
}

a.ma:hover {
	text-decoration:none; 
	color:#000000;
}

li.m {
	margin: 0; 
	padding: 5px 5px 5px 0;
	border-bottom: 1px solid #97C821;
	font-size: 11.5px;
	font-weight: bold;
}

/* --------------------------------------END-------------------------------------------*/


/* Right Sidebar
-----------------------------------------------------------------------------*/
.right-sidebar {
	float: left;
	width: 250px;
	margin-left: 1010px;
	position: fixed;
	background: #FFACAA;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	width: 1000px;
	margin: -100px auto 5px;
	height: 100px;
	background: #BDE4FF; 
	border-bottom: 1px solid #FFFFFF;
	position: relative;
	text-align: center;
	color: #36638E;
	font-weight: bold;
	line-height: 21px;
	font-size: 11.5px;		
}

.footer p {
	position: relative;
	top: 10%;
	text-align: center;
	color: #2F90D4;
}

/* NEW!!!
-----------------------------------------------------------------------------*/
.box {
	width: 1000px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
background: white;
}

/*==================================================
 * Effect 8
 * ===============================================*/
.effect8
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
background: white;
}
.effect8:before, .effect8:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 0px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 0px;
background: white;
}
.effect8:after
{
    right:0px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
background: white;
}
.scrollup{
width:40px;
height:40px;
opacity:0.3;
position:fixed;
bottom:50px;
right:100px;
display:none;
text-indent:-9999px;
background: url('../img/icon_top.png') no-repeat;
}

/* ----------------- Comments ----------------- */

.comment h2.title {
  margin-bottom: 1em;
}
.comment div.user-picture img {
  margin-left: 0; /* LTR */
}
.comment {
  margin-bottom: 20px;
  display: table;
  vertical-align: top;
}
.comment .attribution {
  display: table-cell;
  padding: 0 30px 0 0; /* LTR */
  vertical-align: top;
  overflow: hidden;
}
.comment .attribution img {
  margin: 0;
  border: 1px solid #d3d7d9;
}
.comment .attribution .username {
  white-space: nowrap;
}
.comment .submitted p {
  margin: 4px 0;
  font-size: 1.071em;
  line-height: 1.2;
}
.comment .submitted .comment-time {
  font-size: 0.786em;
  color: #68696b;
}
.comment .submitted .comment-permalink {
  font-size: 0.786em;
  text-transform: lowercase;
}
.comment .contento {margin-top:0; font-size:13px; line-height:19px;}

.comment .comment-arrow {position:absolute; border-left:1px solid; border-right:1px solid; height:20px; margin-left:-27px; margin-top:10px; width:10px; background:url(../img/comment-arrow.gif) no-repeat 0 50%;}
.comment .comment-text {
  padding:10px 15px;
  border: 1px solid #d3d7d9;
  display: table-cell;
  vertical-align: top;
  position: relative;
  width: 100%;
}
.comment .indented {
  margin-left: 40px; /* LTR */
}
.comment ul.links {
  padding: 0 0 0.25em 0;
}
.comment ul.links li {
  padding: 0 0.5em 0 0; /* LTR */
}
.comment-unpublished {
  margin-right: 5px; /* LTR */
  padding: 5px 2px 5px 5px; /* LTR */
}
.comment-unpublished .comment-text .comment-arrow {
  border-left: 1px solid #fff4f4;
  border-right: 1px solid #fff4f4;
}
.comment .comment-arrow {
border-color: #ffffff;
}