/* tables */
.table {
  width: 100%;
  border-collapse: collapse;  
  margin-bottom: 15px;
}

.table th {
  padding: 10px;
  font-weight: bold;
  text-align: left;
}

.table th.first {
  width: 30px;
}

.table th.last {
  width: 200px;  
}

.table .checkbox {
  margin-left: 10px;
}

.table td {
  padding: 10px;
  vertical-align: middle;
  border-bottom: 1px solid #eaeaea;
}

.table td.last {
  text-align: right;
}
/* tables */
.table {
  width: 100%;
  border-collapse: collapse;  
  margin-bottom: 15px;
}

table th {
  padding: 10px;
  font-weight: bold;
  text-align: left;
}

table th.first {
  width: 30px;
}

table th.last {
  width: 200px;  
}

table .checkbox {
  margin-left: 10px;
}

table td {
  padding: 10px;
  vertical-align: middle;
  border-bottom: 1px solid #eaeaea;
}

table td.last {
  text-align: right;
}

.center {
	text-align:center;
}

.avatar{
  float: left;
  margin: 0 20px 10px 20px;
  width: 50px;
  height: 50px;
}

.left {
  float: left;  
}

.left {
  width: 50px;
  height: 40px;
}

div.right {
  margin-top: -3px;
  width: 80%;
  float: right;
}

.right {
  float: right;
}

ol {
	padding:10px;
	margin:0;
}

caption {
	padding:4px;
}

/* Common */

#content {
	margin-right:auto;
	margin-left:auto;
	width:1000px;
}

.login {
	margin-left:auto;
	margin-right:auto;
}

.login > div {
	width:360px !important;
}

#content {
	width:960px;
	position:relative;
	zoom:1;
}

.date td a {
	display:inline-block;
	padding:3px 8px;
}

.date th, .date td {
	text-align:center;
	padding:3px;
}

/* Box */

.box {
	font-size:13px;
	margin:0 0 10px 0;
	position:relative;
	border:1px solid;
}

.box h2, .box p, .box table {
	margin:0;
}

.box h2 {
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	padding:2px 10px;
	cursor:move;
}

.utils a {
	position:absolute;
	top:5px;
	right:10px;
	border:1px solid;
	padding:4px 8px;
}

.box p {
	padding:10px;
}

/* Typography */

label, #navigation, .error, .success, input[type="submit"], input[type="reset"], input[type="button"]  {
	font-weight:bold;
}

h1, h2, h3, h4, h5, h6 {
	border-bottom:1px solid;
}

a:hover {
	text-decoration:none;
}

a.edit, a.delete {
	padding-left:25px;
	background-repeat:no-repeat;
	background-position:left center;
}
a {
	padding:4px;
}

.form input.checkbox, .form input.radio {
  margin-right: 5px;
}

.form label.checkbox, .form label.radio {
  line-height: 1.5em;
}

/* Header */

#head {
	-moz-border-radius-topright:10px;
	border:0;
	margin:10px auto 0 auto;
	padding:5px 30px;
	width:940px;
}

/* Nagivation */

#navigation {
	-moz-border-radius-bottomleft:10px;
	margin:0 auto 10px auto;
	padding:10px 30px;
	width:940px;
}

#navigation > li {
	display:inline;
	margin:0
}

#navigation > li > a, #navigation > li > span {
	display:inline-block;
	padding:5px 10px;
	text-decoration:none;
}

/* Content */

#content {
	padding:20px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomright: 10px;
}

#foot {
	padding:5px 30px;
	width:940px;
	margin:10px auto;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomleft: 10px;
}

.curved, #navigation a, #navigation span, .error, .success, .box, .utils a {
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-top-right-radius:5px;
}

.curved-alt, input, textarea, select, .box, .date td a, .utils a  {
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-webkit-border-bottom-right-radius:5px;
	-webkit-border-top-left-radius:5px;
}

/* Forms */

label {
	display:block;
	font-size:17px;
	margin:0 0 5px;
	position:relative;
}

small {
	font-size:12px;
	font-weight:normal;
	padding-left:10px;
}

input, textarea, select{
	border:1px solid;
	font-family:inherit;
	font-size:inherit;
	padding:4px;
}

select {
	padding-top:3px;
	padding-bottom:3px;
}

input[type="submit"], input[type="reset"], input[type="button"] {
	cursor:pointer !important;
	width:auto !important;
}

/* Error and Success messages */
.error, .success {
	padding:4px 8px;
}

/* Pagination */
.pagination {
	text-align:right;
}
.pagination a, .pagination span {
	display:inline-block;
	margin:0 2px;
	padding:2px 6px;
}

a.button, button.button {
  background-color: #f4f4f4;
  background-image: url("button-background.png");
  border: 1px solid #c3c4ba;
  font-family: helvetica, arial, sans-serif;
  font-weight: normal;
}

a.button:link, a.button:visited, a.button:hover, a.button:active, button.button:link, button.button:visited, button.button:hover, button.button:active {
  font-weight: normal;
  background-color: #f4f4f4;
}

a.button:hover, button.button:hover {
  background-color: #eee;
  border: 1px solid #818171;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

a.button:active, button.button:active {
  outline: none;
  background-color: #ddd;
  background-image: url("button-background-active.png");
}

.form input.button {
  -moz-border-radius-topleft: 9px;
  -webkit-border-top-left-radius: 9px;
  -moz-border-radius-topright: 9px;
  -webkit-border-top-right-radius: 9px;
}

a.button, button.button, .pagination a, .pagination span {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.form input.button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

a.button:link, a.button:visited, a.button:hover, a.button:active, button.button {
  color: #222;
  display:block;
  float:left;
  margin:0 7px 0 0;
  background-color: #eee;
  border:1px solid #bfbfbf;
  font-size: 1em;
  line-height: 1.3em;
  font-weight:normal;
  cursor:pointer;
  padding:5px 10px 6px 7px;
  text-decoration: none;
}
button.button {
  width:auto;
  overflow:visible;
  padding:4px 10px 3px 7px; /* IE6 */
}
button.button[type] {
  padding:5px 10px 5px 7px; /* Firefox */
  line-height:17px; /* Safari */
}
*:first-child+html button.button[type] {
  padding:4px 10px 3px 7px; /* IE7 */
}

button.button img, a.button img {
  margin:0 3px -3px 0 !important;
  padding:0;
  border:none;
  width:16px;
  height:16px;
}

button.button:hover, a.button:hover {
  background-color:#dedede;
}

button.button:active, a.button:active {
  background-color:#e5e5e5;
}
.text_button_padding{
  color: #222222;
  display: block;
  float: left;
  font-size: 1em;
  line-height: 2em;
  margin: 0 7px 0 0;
  padding: 5px 0 6px 7px;
  text-decoration: none;
}
.link_button{
  cursor: pointer;
}

.badge {
position: absolute;
font-family: 'Open Sans',sans-serif;
font-size: 11px;
font-weight: 300;
padding: 3px 7px 3px 7px;
color: white ;
text-shadow: none;
text-align: center;
border-width: 0;
margin: -38px 0px 0px 912px;
border-style: solid;
-webkit-border-radius: 12px !important;
-moz-border-radius: 12px !important;
border-radius: 12px !important;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}

.badge-important {
background-color: #ed4e2a;
background-image: none !important;
text-shadow: none !important;
}

.badge {
font-weight: 300;
}

.badge {
padding-right: 9px;
padding-left: 9px;
-webkit-border-radius: 9px;
-moz-border-radius: 9px;
border-radius: 9px;
}

.badge {
display: inline-block;
padding: 2px 4px;
font-size: 11.844px;
font-weight: bold;
line-height: 14px;
color: #fff;
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
white-space: nowrap;
vertical-align: baseline;
background-color: #999;
}
.badge-important {
background-color: #b94a48;
}